<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="user6.Properties.Settings.user6_dbConnectionString"
            connectionString="Data Source=WIN-39ODTUFP0LV\SQLEXPRESS;Initial Catalog=user6_db;User ID=user6;Password=save"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>